<mat-tab-group
  animationDuration="0ms"
  mat-stretch-tabs="false"
  mat-align-tabs="start"
  color="transparent"
>
  <mat-tab label="Tiles" style="border: none">
    <ng-template mat-tab-label>
      <img src="../assets/img/tiles.png" width="100px" height="40px" />
    </ng-template>
    <ng-template matTabContent>
      <div style="width: 100%; background-color: rgb(0, 0, 0)">
        <!-- <app-tile [tiles]="tiles"></app-tile> -->
        <app-tile></app-tile>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Charts"
    ><ng-template mat-tab-label>
      <img src="../assets/img/charts.png" width="100px" height="40px" />
    </ng-template>
    <ng-template matTabContent>
      <mat-grid-list cols="1" rowHeight="200px" gutterSize="0px">
        <mat-grid-tile style="border: solid 0.5px rgb(2, 1, 19)">
          <div
            style="
              height: 200px;
              width: 100%;
              background-color: rgb(255, 255, 255);
            "
          >
            <img
              src="../assets/img/underconstruction.png"
              width="100px"
              height="40px"
            />
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </ng-template>
  </mat-tab>
</mat-tab-group>
