<mat-grid-list cols="4" rowHeight="200px" gutterSize="0px">
  <mat-grid-tile
    *ngFor="let tile of tiles; let indexOfelement = index"
    style="border: solid 0.5px rgb(128, 128, 133)"
  >
    <div style="height: 200px; width: 100%; background-color: rgb(0, 0, 0)">
      <mat-grid-list
        cols="2"
        rowHeight="25%"
        gutterSize="0px"
        style="border: solid 0.5px rgb(128, 128, 133)"
      >
        <mat-grid-tile
          colspan="1"
          rowspan="1"
          style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255)"
        >
          <select>
            <option
              *ngFor="let ccyPair of this.ccyPairList; let i = index"
              value="{{ ccyPair.name }}"
              [selected]="i == indexOfelement"
            >
              {{ ccyPair.name }}
            </option>
          </select>
        </mat-grid-tile>
        <mat-grid-tile
          colspan="1"
          rowspan="1"
          style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255)"
        >
          <select>
            <option
              *ngFor="let account of this.accountList; let i = index"
              value="{{ account.name }}"
              [selected]="i == indexOfelement"
            >
              {{ account.name }}
            </option>
          </select>
        </mat-grid-tile>
        <mat-grid-tile
          colspan="1"
          rowspan="2"
          style="border: solid 1px rgb(0, 0, 0); color: rgb(255, 255, 255)"
        >
          <b>{{ tile.bidRate }}</b>
          <img
            src="../assets/img/{{ tile.pricetickImage }}"
            width="20px"
            height="20px"
          />
        </mat-grid-tile>
        <mat-grid-tile
          colspan="1"
          rowspan="2"
          style="border: solid 1px rgb(0, 0, 0); color: rgb(255, 255, 255)"
        >
          <b>{{ tile.askRate }}</b>
          <img
            src="../assets/img/{{ tile.pricetickImage }}"
            width="20px"
            height="20px"
          />
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <mat-form-field>
            <mat-label style="font-size: smaller">v/d</mat-label>
            <input matInput [matDatepicker]="pickervaluedate" />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="pickervaluedate"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickervaluedate></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <mat-form-field>
            <mat-label style="font-size: smaller">fix</mat-label>
            <input matInput [matDatepicker]="pickerfixingdate" />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="pickerfixingdate"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerfixingdate></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-grid-tile>
</mat-grid-list>
