<app-toppanel></app-toppanel>
<mat-tab-group
  animationDuration="0ms"
  mat-stretch-tabs="false"
  mat-align-tabs="start"
  color="transparent"
>
  <mat-tab label="Outstanding FX" style="border: none">
    <ng-template mat-tab-label>
      <img src="../assets/img/images2.png" width="100px" height="30px" />
    </ng-template>
    <ng-template matTabContent>
      <div class="whats-in-the-boooooooooox">
        <button mat-raised-button color="primary" style="margin: 5px">
          My Trades
        </button>
        <button mat-raised-button color="primary" style="margin: 5px">
          Todays Trades
        </button>
        <button
          mat-raised-button
          color="primary"
          style="margin: 5px"
          (click)="togglecharts()"
        >
          Charts
        </button>
      </div>
      <div class="whats-in-the-boooooooooox">
        <mat-grid-list cols="1" rowHeight="50px">
          <mat-grid-tile
            ><app-kpi class="left-align-forced"></app-kpi
          ></mat-grid-tile>
        </mat-grid-list>
      </div>
      <div class="whats-in-the-boooooooooox" id="111" [hidden]="isChartHidden">
        <mat-grid-list cols="2" rowHeight="200px">
          <mat-grid-tile
            ><app-chart class="default-centered"></app-chart
          ></mat-grid-tile>
          <mat-grid-tile
            ><app-chart2 class="default-centered"></app-chart2
          ></mat-grid-tile>
        </mat-grid-list>
      </div>
      <div class="whats-in-the-boooooooooox">
        <mat-grid-list cols="1" rowHeight="500px">
          <mat-grid-tile
            ><app-ag-grid-blotter-vrm
              class="left-align-forced"
            ></app-ag-grid-blotter-vrm
          ></mat-grid-tile>
        </mat-grid-list>
      </div>
      <div class="whats-in-the-boooooooooox">
        <mat-grid-list cols="1" rowHeight="50px">
          <mat-grid-tile
            ><app-footer class="left-align-forced"></app-footer
          ></mat-grid-tile>
        </mat-grid-list>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="FX Position"
    ><ng-template mat-tab-label>
      <img
        src="../assets/img/images3.png"
        width="100px"
        height="30px"
      /> </ng-template
  ></mat-tab>
  <mat-tab label="Historical FX"
    ><ng-template mat-tab-label>
      <img
        src="../assets/img/images4.png"
        width="100px"
        height="30px"
      /> </ng-template
  ></mat-tab>
</mat-tab-group>
