<div>
  <h3 class="label">Trade Capture</h3>
</div>
<form tradeCaptureForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="ccyPair" class="label">CCY Pair</label>
    <input
      type="text"
      class="input"
      [(ngModel)]="ccyPair"
      id="ccyPair"
      name="ccyPair"
      aria-describedby="emailHelp"
    />
  </div>
  <div class="form-group">
    <label for="buySell" class="label">Buy/Sell</label>
    <input
      type="text"
      class="input"
      [(ngModel)]="buySell"
      id="buySell"
      name="buySell"
    />
  </div>
  <div class="form-group">
    <label for="dealtCcy" class="label">DealtCcy</label>
    <input
      type="text"
      class="input"
      [(ngModel)]="dealtCcy"
      id="dealtCcy"
      name="dealtCcy"
    />
  </div>
  <div class="form-group">
    <label for="dealtAmount" class="label">DealtAmount</label>
    <input
      type="text"
      class="input"
      [(ngModel)]="dealtAmount"
      id="dealtAmount"
      name="dealtAmount"
    />
  </div>
  <div class="form-group">
    <label for="counterAmount" class="label">CountertAmount</label>
    <input
      type="text"
      class="input"
      [(ngModel)]="counterAmount"
      id="counterAmount"
      name="counterAmount"
    />
  </div>
  <div class="form-group" my-3>
    <button type="submit" class="btn btn-sm btn-primary button">Book</button>
  </div>
</form>
