/* You can add global styles to this file, and also import other style files */
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";

html,
body {
  height: 100%;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

.my-shaded-effect-white {
  background-color: white;
}

.my-shaded-effect-blue {
  background-color: #285fcc;
}

.internalMatGrid {
  position: absolute;
  border: 1px solid rgba(146, 161, 8, 0.322);
  left: 0px;
  bottom: 5px;
}

.mymattile-kpi-align-left {
  position: absolute;
  left: 0px;
  font-size: medium;
  color: rgb(14, 151, 9);
}

.mattile-footer-align-left {
  position: absolute;
  left: 5px;
  bottom: 5px;
  font-size: medium;
  color: rgb(7, 80, 4);
  font-weight: bold;
}
mat-grid-tile {
  /* background: whitesmoke; */
  left: 5px;
  border: 1px solid rgba(146, 161, 8, 0.322);
}