/* You can add global styles to this file, and also import other style files */
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";

html,
body {
  height: 100%;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

.my-shaded-effect-white {
  background-color: white;
}

.my-shaded-effect-blue {
  background-color: #285fcc;
}

.internalMatGrid {
  border: 1px solid rgb(0, 26, 255);
}

.mymattile-align-left {
  position: absolute;
  left: 5px;
  bottom: 5px;
  color: rgb(11, 161, 6);
}

.mymattile-align-left2 {
  position: absolute;
  left: 5px;
  bottom: 5px;
  color: rgb(11, 161, 6);
  font-weight: bold;
}
