/* You can add global styles to this file, and also import other style files */
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";
@import "~material-icons/iconfont/material-icons.css";

html,
body {
  height: 100%;
  width: 100%;
  padding: 1px;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

.my-shaded-effect-white {
  background-color: white;
}

.my-shaded-effect-blue {
  background-color: #285fcc;
}

.internalMatGrid {
  min-width: 80%;
}

.mymattile-kpi-align-left {
  position: absolute;
  left: 0px;
  font-size: medium;
  color: rgb(14, 151, 9);
}

.mattile-footer-align-left {
  position: absolute;
  left: 0px;
  font-size: medium;
  color: rgb(14, 151, 9);
  font-weight: 600;
}

.mat-grid-tile .mat-figure {
  justify-content: flex-start !important ;
  align-items: flex-start !important;
  text-align: left;
  vertical-align: text-top;
}
.mat-tab-header {
  background-color: #424242;
}
.remove-border-bottom .mat-tab-header {
  border-bottom: none;
}
